/*Color variables*/
$green: #8dc63f !default;
$orange: #f7941e !default;
$brown: #594a42 !default;
$dark-brown: #414042 !default;
$tan: #e7e1d7 !default;

/*Functional variables*/
$text-color: $dark-brown !default;
$link-color: $green !default;
$primary-mask-color: $orange !default;
